<!-- 
    VF Page to show all available options for all Department/Category/SubCategory/Type and let the admin choose for finding total fees:
-->
<apex:page controller="FeesHierarchyBySelectionController">
    <apex:form >
        <apex:pageBlock title="Fees Hierarchy" mode="edit">
            <apex:pageMessages id="messages"/>
            <apex:pageBlockSection title="What fees are you looking for?" columns="1">
                <apex:inputField value="{!fee.Department__c}" required="true">
                    <apex:actionSupport event="onchange" action="{!updateFees}" reRender="feesSection,messages"/>
                </apex:inputField>
                <apex:inputField value="{!fee.Category__c}">
                    <apex:actionSupport event="onchange" action="{!updateFees}" reRender="feesSection,messages"/>
                </apex:inputField>
                <apex:inputField value="{!fee.Sub_Category__c}">
                    <apex:actionSupport event="onchange" action="{!updateFees}" reRender="feesSection,messages"/>
                </apex:inputField>
                <apex:inputField value="{!fee.Type__c}">
                    <apex:actionSupport event="onchange" action="{!updateFees}" reRender="feesSection,messages"/>
                </apex:inputField>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Total Fees:" columns="1" id="feesSection">
                <apex:outputText label="Total Fees:" value="${!totalFees}" style="font-size:20px; color:red;" rendered="{!totalFees != null}"/>
                <br/>
                <apex:outputText label="Check this report for additional details:" rendered="{!totalFees != null}">
                    <a href="{!reportURL}" target="_blank" style="font-size:15px;">Fees Hierarchy Report</a>
                </apex:outputText>
            </apex:pageBlockSection>
            <div style="color: gray; font-size:12px;">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>&emsp;&emsp;
                P.S: These fields can be changed to dependent picklists to make it easier for the user.
            </div>
        </apex:pageBlock>
    </apex:form>

</apex:page>